Repository ArchiveTeam/ArchiveBot, pull requests merged in 2019-08, with the labels that each got.

#399 Update tests (August 2019)
  .travis.yml
  db/ignore_patterns/meetupeverywhere.json
  test/run_pipeline.sh
Labels: enhancement

#396 Compress the log file if wpull didn't finish cleanly (and didn't write a meta WARC)
  pipeline/archivebot/seesaw/tasks.py
  pipeline/pipeline.py
Labels: enhancement, pipeline

#401 Verify that inexistent domains do not resolve
  pipeline/archivebot/seesaw/tasks.py
Labels: bug, pipeline

#402 Check for local webservers
  pipeline/archivebot/seesaw/tasks.py
  pipeline/pipeline.py
Labels: bug, pipeline

#386 Ignore a CBL sinkhole domain
  db/ignore_patterns/global.json
Labels: enhancement, ignores

#382 Block uploading to an rsync URL that doesn't end in a slash
  uploader/uploader.py
Labels: enhancement, uploader

#383 cogs: Run the Broadcaster only if necessary, i.e. if tweeting is enabled
  cogs/start.rb
Labels: backend, enhancement

#403 Fix log shipper crash
  pipeline/archivebot/control.py
Labels: bug, pipeline

#404 Register pipeline immediately on startup
  pipeline/archivebot/seesaw/monitoring.py
Labels: bug, pipeline

#406 Notify IRC channel on pipeline changes
  bot/bot.rb
  bot/pipeline_notifier.rb
  dashboard/resources/pipeline.rb
  lib/pipeline_collection.rb
Labels: enhancement, irc

#407 Require that the time zone is set to UTC on pipelines
  pipeline/pipeline.py
Labels: enhancement, pipeline

#408 Get the pipeline version automatically from git
  INSTALL.pipeline
  pipeline/pipeline.py
Labels: enhancement, pipeline

#409 Verify that the version number hasn't changed since the pipeline was started
  pipeline/archivebot/seesaw/tasks.py
  pipeline/pipeline.py
Labels: enhancement, pipeline

#410 Check that an absolute URL with a host was provided
  bot/brain.rb
Labels: bug, irc

#411 Fix connection to WebSocket when accessing the dashboard over a non-standard port
  dashboard/assets/scripts/Dashboard.hx
  dashboard/assets/scripts/dashboard.js
  dashboard/dashboard.html
Labels: bug, dashboard

#412 Remove all uploads from within the pipeline
  INSTALL.pipeline
  pipeline/archivebot/seesaw/tasks.py
  pipeline/pipeline.py
  test/integration_runner.py
  test/run_pipeline.sh
Labels: enhancement, pipeline

#413 Handle log files in the uploader
  uploader/uploader.py
Labels: enhancement, uploader

#414 Bump the default disk size limit from 500 MiB to 5 GiB
  pipeline/pipeline.py
Labels: enhancement, pipeline

#415 Prevent pipeline spam on bot startup
  bot/pipeline_notifier.rb
Labels: enhancement, irc

#418 Add basic Instagram igset
  db/ignore_patterns/instagram.json
Labels: enhancement, ignores

#419 Adjust Squarespace JS hell ignore
  db/ignore_patterns/global.json
Labels: enhancement, ignores

#420 Ignore "BlogArchive" widget on Blogger
  db/ignore_patterns/blogs.json
Labels: enhancement, ignores
